{% extends 'base.html' %}
{% block title %} Create Post {% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <h2> Add Post</h2>
    <br/>

    <div class="from-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
 
            <button class="btn btn-secondary">Post</button>
    </div>

        <script>
            var name = "{{ user.id }}";

            document.getElementById("writer").value = 
                name;
        </script>
    {%else%}
    Entry Restricted
    

{%endif%}


{% endblock %}
