{% extends 'base.html' %}

{% block title %}  {{post.title_tag}} welcome to busyppl {% endblock %}
{% block content %}

<h2>Hey welcome busypeople </h2>
<br/> <br/>
<br/>
<ul>
{% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}" >
        {{post.title }} </a>||
        -{{ post.author.first_name }} 
        {{ post.author.last_name }} - {{post.post_date}} <small> 
            
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    - <a href="{% url 'edit_post' post.pk %}" > (edit) </a>
                    -<a href="{% url 'delete_post' post.pk %}" >(delete)</a>
                {%endif%}
            {%endif%}

        </small> <br/> 
        
        {{post.body|slice:":50"}}</li>
        <br/>

{% endfor %}
</ul>  

{% endblock %}
